<h1>Sign up</h1>
<br>
<%= form_for(@user)  do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
   </div>
 <% end %>

 <div class="form-group">
   <label for="name">Username</label>
   <input type="name" class="form-control" id="name" name="user[name]" placeholder="Enter username">
 </div>

 <div class="form-group">
   <label for="email">Email address</label>
   <input type="email" class="form-control" id="email" name="user[email] aria-describedby="emailHelp" placeholder="Enter email">
   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else."</small>
 </div>

 <div class="form-group">
   <label for="password">Password</label>
   <input type="password" class="form-control" id="password" name="user[password]" placeholder="Password">
   <small id="passwordHelp" class="form-text text-muted">Must be between 6-20 characters long.</small>
 </div>

  <div class="actions">
    <%= f.submit "Create my account" %>
  </div>
</div>
<% end %>
