<%= render :template => '/decks/index' %>
<br>

<h4>Add a Deck </h4>
<%= render :template => '/decks/new' %>
<br>


<% if params[:user_most_id] %>
<h4> find out who has the most decks </h4>
<%= render :template => '/users/most' %>
<% else %>
<%= button_to "Click to see who has the most decks" %>
<% end %>
