<div class="decks" >
  <%= render :template => 'decks/index' %>
</div>

<div class="deck" >
<ul>
</ul>
</div>

<div style="float:right" class="sidebar add-deck">
<h4>Add a Deck </h4>
<%= render :template => '/decks/new' %>
</div>
