<%= render :template => '/decks/index' %>
<br>

<h4>Add a Deck </h4>
<%= render :template => '/decks/new' %>
<br>


<h5><%= "The award for most decks goes to #{ @user_most.name }" %>

<!--  this is where I need to change the button_to POST URL from the default of /users/4 to something like /users/most_decks-->
<!--  users/most_decks POST as :most_decks in routes-->
