<ol>
  <% @deck.cards.each do |card| %>
  <tr class="table-light">
    <th scope="row"><%= card.name %></th>
      <td><%= card.quantity %></td>
          <% @card = card %>
      <td> <%= link_to("", deck_card_path(@deck, @card), method: :delete, class: "btn btn-danger") %> </td>
    <% end %>
    </tr>
</ol>
