<h2 class="text-center"> <%= @deck.name%> </h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Card Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <div class="cards-1">
        <%= render :template => 'cards/_cards'%>
        </div>
      </tbody>
    </table>
<br>
