<% @decks.each do |deck| %>
    <tr class="table-light">
      <th scope="row"><%= link_to "#{deck.name}", user_deck_path(@user, deck), class: "load_deck"%></th>
      <td > <%= link_to "#{deck.format.name}", user_format_path(@user, deck.format) %></td>
      <td> <%= link_to("", user_deck_path(@user, deck), method: :delete, class: "btn btn-danger") %> </td>

    <% end %>
  </tr>