<div class="decks">
  <div class="container">
    <h3 class="text-center">Here are your decks.</h3>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <% @user.decks.each do |deck| %>
            <h3 class="card-title">
                <strong> <%= link_to "#{deck.name}", user_deck_path(@user, deck)%>
                </h3>

            <p class="card-text"><%= link_to("x", user_deck_path(@user, deck), method: :delete, class: "btn btn-danger") %>
            </p>
            <br>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
