<h3 class="text-center">Here are your decks.</h3>

<div class="decks">
  <div class="container">
    <div class="row">
      <% @user.decks.each do |deck| %>
      <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
            <h3 class="card-title"><%= link_to "#{deck.name}", user_deck_path(@user, deck)%></h3>
            <p class="card-footer"><%= link_to("x", user_deck_path(@user, deck), method: :delete, class: "btn btn-danger") %></p>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
