<h3 class="text-center">Here are your decks.</h3>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Deck Name</th>

      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @user.decks.each do |deck| %>
    <tr class="table-light">
      <th scope="row"><%= link_to "#{deck.name}", user_deck_path(@user, deck)%></th>
      <td> <%= link_to("x", user_deck_path(@user, deck), method: :delete, class: "btn btn-danger") %> </td>
    <% end %>
  </tr>
  </tbody>
</table>
