<% @decks.each do |deck| %>
<ol>
  <div class="deck">
      <%= link_to "#{deck.name}", user_deck_path(@user, deck), class:"load_deck"%>
      <div class="cards">
        <% deck.cards.each do |card| %>
          <ul><%= card.name %></ul>
          <% end %>
        </div>
    </div>
</ol>
<% end %>
