<div class="deck-show">
<h2 class="text-center"> <%= @deck.name%> </h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Card Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @deck.cards.each do |card| %>
        <tr class="table-light">
          <th scope="row"><%= card.name %></th>
          <td><%= card.quantity %></td>
          <% @card = card %>
        <% end %>
      </tr>
      </tbody>
    </table>
<br>
</div>


<h4>Edit Deck </h4>
<%= render :template => '/cards/_form' %>
