<h4> Here is the decklist. You will see the cards and their quantity. Want to be able to create new cards to add to this deck, edit the cards, and delete cards from this deck. </h4>


<% @deck.cards.each do |card| %>  <!-- put this into a table -->
<ol>
    <label>Name: <%= card.name %>  </label><br>
    <label>Quantity: <%= card.quantity %> </label>
</ol>
<% end %>

<%= button_to "Add Card", '/decks/cards/new' %>
